@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {  
    @apply text-neutral-50 bg-[#000d04];
		font-family: "Geist", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		font-style: normal;
		-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    
    font-size: 16px;

    scroll-behavior: smooth !important;
    overflow-x: hidden;
  }

  * {
    min-width: 0;
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-neutral-800 scrollbar-corner-transparent;
    scroll-behavior: smooth;
  }

  :root {
    font-size: 16px;

  }
  
  /* 2k monitors */
  @media (min-width: 2560px) {
    :root {
      font-size: 22px;
    }
  }

  /* 4k monitors */
  @media (min-width: 3840px) {
    :root {
      font-size: 28px;
    }
  }

  /* 8k monitors */
  @media (min-width: 7680px) {
    :root {
      font-size: 34px;
    }
  }
}

@layer components {
  .header-video-mask {
    mask-image: linear-gradient(180deg, #FFF 50%, rgba(0, 0, 0, 0.00) 100%);
    mask-composite: exclude;
  }
  
  .header-video-mask-mobile {
    mask-image: linear-gradient(180deg, #FFF 10%, rgba(0, 0, 0, 0.00) 100%);
  }
  
  .header-video-gradient {
    background: radial-gradient(55% 85% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, #000d04cc 100%);
  }
  
  .header-video-gradient-mobile {
    background: radial-gradient(60% 89.17% at 50% 50%,#0000004d,#000d04);
  }

  .font-fun {
    @apply !leading-tight;
    font-family: 'FuzzyBubbles', serif;
  }
}
